.definition{
  border: 2px black solid;
  height:20%;
  display: flex;
  flex-direction: column;
  align-items:left;
  width:60%;
  margin-top:100px;;
  margin-bottom:100px;
  padding:30px;
  animation-name: fade;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  z-index:4;
  background-color: white;
}

@keyframes fade {
0% { border-color: #DDD; }
50% { border-color: #FA7268; }
100% { border-color: #DDD; }
}

.definition h1, h2, h3, h4, p{
  margin:5px;
}

.food-project{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom:70px;
  z-index:1;
  border-top:2px black solid;
}

.cooking-bio-text-small{
  font-weight: 400;
  margin-bottom:30px;
}

.extra-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.extra-images{
  width:35%;
}

@media screen and (max-width: 600px) {
  .extra-images{
    width:100%;
  }
}
