body{
  height: auto;
  overflow-y: scroll;
}

h2{
  margin:7px;
}

#all-experiments{
  width:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:120px;
  margin-bottom:200px;
  flex-wrap: wrap;
  z-index:1;
}

.experiment-card{
  display: flex;
  margin-right:30px;
  width:50%;
  height:60%;
  position: relative;
  margin-bottom:120px;
}

.project-title{
  text-decoration: underline;
  text-decoration-color: #FF7373;
  font-size: 72px;
  margin-top: 30%;
}

.project-background-2{
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  position: absolute !important;
  transform: rotateZ(-6deg) !important;
  background-color: #EEE;
  width:80%;
  height:105%;
  margin-left: 10%;
}
.project-image-container{
}

.project-image{
  border: 3px solid white;
}

.project-question-2{
  position: absolute;
  bottom: -2.5em;
  margin-top: 78%;
  font-size: 24px;
  text-align: right;
  width:80%;
}

.extended{
  bottom: -3.5em;
}

.project-button-2{
  position: absolute;
  transform: rotateZ(90deg) !important;
  font-size: 18px;
  text-align: center;
  right:-90px;
  transition: .25s ease;
}

@media screen and (max-width: 600px) {
  .project-background-2{
    width:130%;
    height:115%;
    margin-left: -10%;
  }
  .project-title{
    font-size: 48px;
    margin-left: -15%;
  }
  .project-image-container{
    height: 90% !important;
    margin-left:20px !important;
  }
  .project-image{
    max-width:100% !important;
  }
  .project-question-2{
    font-size: 22px;
    width: 100%;
  }
  .extended{
    bottom: -4.7em;
  }
}

#footer{
  position:absolute;
}
