body{
  height: auto;
  overflow-y: scroll;
}

h2{
  margin:7px;
}

#all-experiments{
  width:85%;
  display: flex;
  flex-direction: column;
  margin-top:150px;
  z-index:1;
}

.experiment-card{
  flex:1;
  display: flex;
  height:300px;
  margin-bottom:100px;
}

.experiment-spacer{
  flex:1;
}

.experiment-background{
  box-shadow: 2px 2px 10px #66666644;
  flex:7;
  background-color: #EEE;
}

.experiment-title{
  text-decoration: underline;
  text-decoration-color: #FF7373;
  font-size: 48px;
  transform: rotate(4deg);
  position: absolute;
  margin-top: 60px;
  width:35%;
  font-weight: 700;
  text-shadow: 2px 2px #fff;
}

.experiment-info{
  position: absolute;
  margin-top: 190px;
  width:35%;
  font-size: 20px;
  background-color: white;
  padding:15px;
  box-shadow: 2px 2px 10px #66666644;
  word-wrap: break-word;
}

.experiment-image-container{
  height:300px;
  width:350px;
  overflow:hidden;
  float: right;
}

.experiment-image{
  height:250px;
  margin-top:25px;
  float: right;
  margin-right:25px;
}

@media screen and (max-width: 950px) {
  .experiment-card{
    height:600px;
    margin-top:120px;
  }
  .experiment-image{
    margin:15px;
  }
  .experiment-title{
    margin-top: -130px;
    width:80%;
  }
  .experiment-info{
    margin-left: -20px;
    margin-top:220px;
  }
}

#footer{
  position:absolute;
}
