body{
  font-family: 'Karla', sans-serif;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  flex-direction: column;
  margin:0px;
  overflow-x: hidden;
}

a, button{
  text-decoration: none;
  color:black;
  pointer-events: auto !important;
  cursor: pointer !important;
}

a:hover{
  color:red;
}

.button, button{
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  z-index:9999999;
}

.button:hover{
  box-shadow: 2px 2px black;
}

.home-buttons{
  margin-top:40px !important;
  color:red;
  padding:0px;
}

button:focus {outline:0;}

#nav{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height:100px;
  vertical-align: middle;
  z-index:5;
  background-color: white;
}

#logo{
  position: fixed;
  top: 30px;
  left: 60px;
  display: flex;
  flex-direction: column;
}

#logo-subtitle{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}

#menu{
  position: absolute;
  top: 30px;
  right: 60px;
}

.color-change{
    -webkit-animation: color-change 8s infinite;
    -moz-animation: color-change 8s infinite;
    -o-animation: color-change 8s infinite;
    -ms-animation: color-change 8s infinite;
    animation: color-change 8s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: black; }
    100% { color: red; }
}
@-moz-keyframes color-change {
  0% { color: red; }
  50% { color: black; }
  100% { color: red; }
}
@-ms-keyframes color-change {
  0% { color: red; }
  50% { color: black; }
  100% { color: red; }
}
@-o-keyframes color-change {
  0% { color: red; }
  50% { color: black; }
  100% { color: red; }
}
@keyframes color-change {
  0% { color: red; }
  50% { color: black; }
  100% { color: red; }
}

.background-title{
  font-size:40vh;
  color:#F2F2f2;
  position: absolute;
  left:-30px;
  z-index:0;
  top:45%;
  margin:0px;
}

@media screen and (max-width: 600px) {
  .background-title{
    font-size:20vh;
    left:-10px;
    bottom:10%;
  }
}

.menu-buttons{
  display: inline-block;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 700;
  transition: .25s ease;
}

.name{
  color:red;
  top:0px;
  font-size: 32px;
  margin-bottom: 0px;
}

#footer{
  font-family: 'Share Tech Mono', monospace;
  width: 100%; position: fixed; bottom: 0px; left: 0px; display: block;
  display: flex;
  align-items:center;
}

.bottom-button-large{
  font-size: 16px !important;
}

.bottom-button{
  text-align: center;
  flex:1;
  font-size: 14px;
  display: inline-block;
  margin:10px;
  margin-bottom:30px;
  transition: color 0.25s ease;
}

@media screen and (max-width: 600px) {
  .bottom-button{
    font-size: 12px !important;
    margin-left: 0px;
    margin-right: 0px;
  }
  .bottom-button-large{
    font-size: 12px !important;
  }
}

.logo-image {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.scroll-button{
  position: fixed;
  bottom:50px;
  left:50px;
  padding: 8px 24px;
  border:1px black solid;
  background-color: white;
  color:black;
  box-shadow: none;
}

#all-project-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom:120px;
  z-index:1;
}

.project-card{
  margin-right:10%; /* fix centering */
  width:50%;
  height:60%;
  position: relative;
  margin-bottom:120px;
}

.project-title-container{
  margin-top: 20%;
  margin-left:10%;
  z-index:3;
}

.project-title{
  font-size: 56px;
  font-weight: 700;
  transform:rotate(6deg);
  text-shadow: 2px 2px #fff;
}

.project-rectangle{
  margin-left:10%;
  margin-top:56px;
  height:5px;
  width:200px;
  background-color:red;
  z-index:5;
}

.project-question{
  font-size: 18px;
  position: absolute;
  margin-top:50%;
  z-index:2;
  width: 50%;
  background-color: rgba(255,255,255,1);
  background-blend-mode: lighten;
  padding:10px;
  /* box-shadow: -4px 4px; */
  border: 2px black solid;
}

.project-image-container{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%;
  height: 90%;
  z-index:1;
  position:relative !important;
}

.offset{
  margin-left: 25%;
}

.project-image{
  max-width:100%;
}

.project-button{
  margin-left:90%;
  margin-top:60%;
  position: absolute;
  /* font-size: 36px;
  padding:6px 18px; */
}

.project-button:hover{
  color:white !important;
}

.project-dots{
  margin-left:70%;
  margin-top:5%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 40%;
  height: 25%;
  border: none;
  background: -webkit-radial-gradient(rgba(0,0,0,.1) 20%, rgba(0,0,0,0) 0%), -webkit-radial-gradient(rgb(255,255,255) 20%, rgba(0,0,0,0) 16%), rgba(255, 255, 255,0);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
  z-index:5;
}

@media screen and (max-width: 600px) {
  .project-card{
    margin-right:12%; /* fix centering */
    width:60%;
    margin-bottom:100px;
  }
  .project-image-container{
    height: 150%;
    margin-left:-5%;
  }
  .project-image{
    max-width:120%;
  }
  .project-question{
    font-size: 14px;
    margin-left: 0;
    margin-left:-10%;
    margin-top:100%;
  }
  .project-title{
    font-size: 48px;
  }
  .project-button{
    margin-left:90%;
    margin-top:100%;
    position: absolute;
    padding:10px 20px;
  }
  .project-dots{
    margin-left:90%;
  }
}

.index-container{
  display: flex;
  flex-direction: row;
  width:80%;
  align-items: center;
  justify-content: center;
}

.index-image-container{
  flex:3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1;
  margin-left: 25%;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.3))
}

.offset{
  margin-left: 25%;
}

.diagonal-container{
  -webkit-clip-path: polygon(25% 0%, 64% 0, 38% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 64% 0, 38% 100%, 0% 100%);
}

.index-image{
  max-width:90%;
}

.main-hello{
  flex:4;
  /* margin-top:12vh; */
}

/* .index-card{
  flex:3;
  margin:0px !important;
}

.index-background{
  /* width:150% !important;
  height:110%;
}

.index-image-container{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  z-index:1;
  position:absolute !important;
}

.index-image{
  max-width:90%;
}

.index-left{
left:0px;
}
.index-middle{
bottom:0px;
}
.index-right{
  right:0px;
} */

.offset{
  margin-left: 25%;
}

@media screen and (max-width: 600px) {
  .main-hello{
    margin-top:5vh;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-30 17:13:42
 * w: http://animista.net, t: @cssanimista
 * ----------------------------------------------

.slide-rotate-hor-b-fwd {
	-webkit-animation: slide-rotate-hor-b-fwd 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
	        animation: slide-rotate-hor-b-fwd 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
}

.card{
  width:50%;
  background-color: red;
  height: 400px;
  color: white;
  text-align: center;
  font-size: 48px;
  display:flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes slide-rotate-hor-b-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
            transform: translateY(0) translateZ(0) rotateX(0deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  100% {
    -webkit-transform: translateY(150px) translateZ(130px) rotateX(70deg);
            transform: translateY(150px) translateZ(130px) rotateX(70deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}
@keyframes slide-rotate-hor-b-fwd {
  0% {
    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
            transform: translateY(0) translateZ(0) rotateX(0deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  100% {
    -webkit-transform: translateY(150px) translateZ(130px) rotateX(70deg);
            transform: translateY(150px) translateZ(130px) rotateX(70deg);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

*/


/* The ABOUT ME Page */

#background{
  position: absolute;
  height: 100vh;
	background-color: white;
	opacity: 1;
	left: -10000;
  top:0;
	width:100%;
	transition: .5s ease;
  z-index:0;
  /* margin-bottom:10px; */
}

#manifesto-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  z-index:3;
  margin:5%;
}

#profile-container{
  position: relative;
	width:25vw;
	height: 25vw;
	border-radius: 50%;
  margin-right:30px;
}

#profile-image{
	position: absolute;
	width:25vw;
	height:25vw;
  border-radius: 50%;
}

#profile-image:hover{
  /* -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg); */
  /* -webkit-filter: blur(5px);
  filter: blur(5px); */
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.manifesto{
  flex:1;
  margin-top: 10px;
  font-size: 22px;
}

/* .overlay {
	position: absolute;
  width:25vw;
	height:25vw;
  border-radius: 50%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
} */

#overlay-text{
  margin-right: 5vw;
	font-size: 18px;
  width:25vw;
  height:25vw;
  border-radius: 50%;
	text-align: center;
	opacity: 0;
}

@media screen and (max-width: 1100px) {
  #profile-container{
    margin-top:100px;
  }
  #manifesto-container{
    flex-direction: column;
  }
  .manifesto{
    margin-top: 40px;
  }
  #profile-container{
  	width:40vw;
  	height: 40vw;
  }

  #profile-image{
  	width:40vw;
  	height:40vw;
  }
}

/* These are special CSS Buttons for the Experiments

.arrow-buttons-container{
  width: 100%;
  position: fixed;
  height:100px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.arrow-buttons{
  border: none;
  display: inline-block;
  background-color: Transparent;
  border-radius: 50%;
  text-align: center;
  margin-left:40px;
  margin-right:40px;
  pointer-events: auto !important;
  cursor: pointer !important;
}

button:hover .left, button:hover .top, button:hover .bottom, button:hover .right{
  border: 0.5em solid red;
}

button:hover .left:after, button:hover .top:after, button:hover .bottom:after, button:hover .right:after {
  border-top: 0.5em solid red;
  border-right: 0.5em solid red;
}

.left {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left:0px;;
}

.left:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 1.5em;
}

.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

*/


  /* STYLING for Hanburger Menu Changing */

/* Style the links inside the navigation bar */
.icon {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    margin:15px;
    margin-top:30px;
}

/* Change the color of links on hover */
.icon:hover {
    color: red;
}

/* Hide the link that should open and close the topnav on small screens */
.topNav .icon {
    display: none;
    z-index:2;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topNav a{display: none;}
  .topNav span {display: none;}
  .topNav .name{
    display: inline-block;
    margin-left: -10px;
  }
  .topNav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a{
    float: none;
    display: block;
    text-align: left;
    background-color: white;
  }
}
