body{
  height: auto;
  overflow-y: scroll;
}
h1{
  font-size: 36px;
}
h2{
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin: 10px;
  margin-left: 0px;
}
h4{
  margin:3px;
}
h4.white{
  color: white;
  font-weight: lighter;
}
p, li{
  font-size: 16px;
  color:#333;
  /* font-family: 'Share Tech Mono', monospace; */
}
#footer{
  position: absolute;
}
.subheader{
  margin-bottom:15px;
  color:#AAA;
  text-transform: uppercase;
  font-weight: bold !important;
}
.project-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:120px;
  margin-bottom:200px;
}
.project-title-container{
  position: absolute;
  left:0;
  bottom: 0;
  background-color: #222;
  padding:10px 20px 10px 20px ;
  color:white;
  margin-left:0;
  transform:rotate(0deg);
  text-shadow: none;
  margin-bottom: 15px;
}
.project-title{
  font-size: 64px;
  color:white;
  text-shadow: none;
  margin: 0px;
}
.project-section{
  width:60%;
  margin-top:50px;
  margin-bottom:20px;
}
.project-hero-image-container{
  position: relative;
  width: 100%;
  min-height: 120px;
  max-height: auto;
  float: left;
}

.project-hero-image{
  max-width: 100%;
  height: auto;
}

.project-image-container{
  margin-top:20px;
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.project-info-container{
  background-color: #222;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  padding-left:10vw !important;
  padding-right:10vw !important;
  width:80vw;
  margin-top: -5px;
}

.image-grid-container{
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom:70px;
  z-index:1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    margin-bottom: 15px;
    flex: 40%;
    max-width: 100%;
  }
  .subheader{
    margin-bottom: 3px;
  }
  .project-title{
    font-size: 36px;
    top:20vh;
  }
  .project-hero-image-container{
    height:auto;
  }
  .project-image-container{
    height:auto;
  }
  .project-section{
    margin-top:10px;
    margin-bottom:10px;
    width:85%;
  }
  .project-info-container{
    padding-top: 40px !important;
    padding-bottom: 10px !important;
    padding-left:10vw !important;
    padding-right:10vw !important;
  }
  .project-main-container{
    margin-top: 90px;
  }
}
