.index-container#art{
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1{
        font-size: 120px;
        margin: 0;
        margin-top: 100px;
        -webkit-text-stroke: 2px var(--accent_color);
        color: transparent;
        span{
            animation: fillColor 2s ease infinite alternate;
        }
    }
    h3{
        font-weight: 400;
    }
}

@for $i from 1 through 10 {
    .index-container#art h1 span:nth-child(#{$i}) { 
      animation-duration: (random(10) + 3) + s;
    }
  }

@keyframes fillColor{
    from{
        color: transparent;
    }
    to{
        color: var(--accent_color);
    }
}

div.art-container{
    width: 84vw;
    max-width: 1000px;
    margin-bottom: 90px;
    button{
        margin-top: 18px;
        float: right;
    }
}

iframe{
    margin-top: 32px;
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}