.definition {
  border: 2px black solid;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  z-index: 4;
}

.food-project {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 40px;
  z-index: 1;
  border-top: 2px black solid;
  padding-top: 50px;
}

.cooking-bio-text-small {
  font-weight: 400;
  margin-bottom: 30px;
}

.extra-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.extra-images {
  width: 35%;
}

.cover-image{
    width: 100vw;
    object-fit: cover;
    margin-top: -5vh;
}

@media screen and (max-width: 640px) {
  .extra-images {
    width: 100%;
  }

  .cover-image{
    margin-top: 10vh;
    }
}
