#all-sites{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 36px; 
    margin-top: 50px;
    margin-bottom: 100px;
    z-index: 1;
    padding: 0 36px;

    .site-container{
        margin-bottom: 40px;
        .site{
            position: relative;
            border: 2px solid black;
            border-radius:  0 0 8px 8px;
            padding:18px;
            padding-top: 40px;
            transition: transform 200ms ease, color 200ms ease;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
    
        }
        .site::before{
            position: absolute;
            content: "";
            width: 100%;
            left: -2px;
            height: 1.9rem;
            top: -1.9rem;
            border: 2px solid black;
            border-bottom: 0px;
            border-radius:  8px 8px 0 0;
            background-repeat: no-repeat;
            background-size: 60px;
            background-position-x: 12px;
            background-position-y: .4em;
            background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 21'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23000000'/%3E%3Ccircle cx='40' cy='10' r='10' fill='%23000000'/%3E%3Ccircle cx='70' cy='10' r='10' fill='%23000000'/%3E%3C/g%3E%3C/svg%3E%0A")
        }
    
        .site:hover{
            transform: scale(1.05);
            border-color: var(--accent_color);
            color: var(--accent_color);
        }
        .site:hover::before{
            border-color: var(--accent_color);
            background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 21'%3E%3Cg id='Layer_1' data-name='Layer 1'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23195CC8'/%3E%3Ccircle cx='40' cy='10' r='10' fill='%23195CC8'/%3E%3Ccircle cx='70' cy='10' r='10' fill='%23195CC8'/%3E%3C/g%3E%3C/svg%3E%0A")
        }
        h3{
            font-weight: 400;
            margin-top:12px;
            margin-bottom:0;
        }
        h3.bold{
            font-family: var(--header_font);
        }
    }
    
}

@media screen and (max-width: 640px) {
    #all-sites{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px 0px; 
        margin-bottom: 100px;
    }
}