.finger{
    position: fixed;
    left:-1000px;
    top:-1000px;
    height:80px;
    width:auto;
    transform-origin: left center;
    pointer-events: none;
    transition:height 350ms ease, opacity 350ms ease;
    z-index: 1000000;
}