#all-project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
  z-index: 1;
}
.index-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 100px;
}
.index-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
}

.project-card {
  display: inline-block;
  width: 95%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
  transition: 0.4s ease-in-out;
}

.project-card:hover {
  transition: 0.8s ease-in-out;
  transform: scale(1.05) !important;
}

.project-card:hover,
.project-card:hover .project-background {
  opacity: 0.5;
}
.project-card:hover,
.project-card:hover .index-title {
  opacity: 0.9;
}
.project-card:hover,
.project-card:hover .index-info {
  color: #000000ff;
}
.project-background {
  transition: 0.8s ease-in-out;
  height: 100%;
}

.project-background {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  position: absolute !important;
  background-color: #000;
  opacity: 0.1;
  width: 70%;
  height: 110%;
  margin-left: 40%;
  -webkit-clip-path: polygon(25% 0%, 64% 0, 38% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 64% 0, 38% 100%, 0% 100%);
}

.extended {
  bottom: -3.5em;
}

.index-project-image {
  max-width: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
  background-color: #fa7268;
  transition: 0.25s ease;
}
.index-project-image-container {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 10%;
  overflow: visible;
}

@media screen and (max-width: 640px) {
  #all-project-cards {
    margin-top: 80px;
  }
  .project-card {
    width: 100%;
  }
  .project-background {
    width: 100%;
    height: 115%;
    margin-left: 20%;
  }
  .project-image-container {
    height: 100% !important;
    margin-left: 25%;
  }

  .profile-image {
    /* show image when in mobile because no pendulum */
    /* display: block !important; */
    position: relative;
    max-width: 100%;
    left: -40px !important;
  }
  .full-width-image {
    width: 100vw;
    max-width: initial;
  }
  .project-title-container {
    margin-top: -18%;
  }

  .extended {
    bottom: -3.7em;
  }
}

@media screen and (max-width: 800px) {
  .index-row {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .index-col {
    margin-bottom: 80px;
  }
  .index-project-image-container {
    z-index: 2;
  }
  .index-project-image {
    height: auto;
  }
  .project-background {
    width: 80%;
    margin-left: 30%;
    height: 100%;
  }
}
